## Upload sqlData.json

In [ ]:
import json
import pandas as pd

In [ ]:
!ls

jsonData.json  sample_data

In [ ]:
data = None
with open("jsonData.json" , 'r') as dataFile:
  data = json.load(dataFile)

print('read')

read

In [ ]:
data['data']

[{'age': 49, 'id': 0, 'name': 'Aarika', 'score': 5},
 {'age': 30, 'id': 1, 'name': 'Abagael', 'score': 2},
 {'age': 50, 'id': 2, 'name': 'Abagail', 'score': 9},
 {'age': 37, 'id': 3, 'name': 'Abigael', 'score': 8},
 {'age': 36, 'id': 4, 'name': 'Abigail', 'score': 6},
 {'age': 2, 'id': 5, 'name': 'Abigale', 'score': 3},
 {'age': 3, 'id': 6, 'name': 'Adaline', 'score': 7},
 {'age': 20, 'id': 7, 'name': 'Adelice', 'score': 2},
 {'age': 41, 'id': 8, 'name': 'Adelina', 'score': 2},
 {'age': 33, 'id': 9, 'name': 'Adelind', 'score': 9},
 {'age': 8, 'id': 10, 'name': 'Adeline', 'score': 1},
 {'age': 5, 'id': 11, 'name': 'Adella', 'score': 6},
 {'age': 37, 'id': 12, 'name': 'Adelle', 'score': 3},
 {'age': 10, 'id': 13, 'name': 'Adiana', 'score': 5},
 {'age': 61, 'id': 14, 'name': 'Adoree', 'score': 2},
 {'age': 3, 'id': 15, 'name': 'Adorne', 'score': 1},
 {'age': 13, 'id': 16, 'name': 'Adrian', 'score': 2},
 {'age': 23, 'id': 17, 'name': 'Adriana', 'score': 0},
 {'age': 35, 'id': 18, 'name': 'Adriane', 'score': 5},
 {'age': 29, 'id': 19, 'name': 'Adriena', 'score': 9},
 {'age': 4, 'id': 20, 'name': 'Aeriel', 'score': 9},
 {'age': 24, 'id': 21, 'name': 'Aeriela', 'score': 6},
 {'age': 8, 'id': 22, 'name': 'Aeriell', 'score': 4},
 {'age': 52, 'id': 23, 'name': 'Agatha', 'score': 2},
 {'age': 14, 'id': 24, 'name': 'Agathe', 'score': 1},
 {'age': 53, 'id': 25, 'name': 'Agnella', 'score': 0},
 {'age': 64, 'id': 26, 'name': 'Agnese', 'score': 6},
 {'age': 30, 'id': 27, 'name': 'Agnesse', 'score': 0},
 {'age': 11, 'id': 28, 'name': 'Agneta', 'score': 2},
 {'age': 10, 'id': 29, 'name': 'Agnola', 'score': 7},
 {'age': 52, 'id': 30, 'name': 'Agretha', 'score': 6},
 {'age': 69, 'id': 31, 'name': 'Aigneis', 'score': 4},
 {'age': 70, 'id': 32, 'name': 'Aileen', 'score': 0},
 {'age': 2, 'id': 33, 'name': 'Ailene', 'score': 7},
 {'age': 42, 'id': 34, 'name': 'Ailina', 'score': 2},
 {'age': 18, 'id': 35, 'name': 'Ailsun', 'score': 1},
 {'age': 6, 'id': 36, 'name': 'Aindrea', 'score': 1},
 {'age': 17, 'id': 37, 'name': 'Ainslee', 'score': 6},
 {'age': 11, 'id': 38, 'name': 'Ainsley', 'score': 9},
 {'age': 68, 'id': 39, 'name': 'Ainslie', 'score': 6},
 {'age': 13, 'id': 40, 'name': 'Alaine', 'score': 3},
 {'age': 29, 'id': 41, 'name': 'Alameda', 'score': 6},
 {'age': 47, 'id': 42, 'name': 'Alanah', 'score': 7},
 {'age': 53, 'id': 43, 'name': 'Alanna', 'score': 7},
 {'age': 11, 'id': 44, 'name': 'Alayne', 'score': 4},
 {'age': 70, 'id': 45, 'name': 'Alberta', 'score': 3},
 {'age': 32, 'id': 46, 'name': 'Albina', 'score': 4},
 {'age': 49, 'id': 47, 'name': 'Alecia', 'score': 5},
 {'age': 49, 'id': 48, 'name': 'Aleece', 'score': 4},
 {'age': 57, 'id': 49, 'name': 'Alethea', 'score': 1},
 {'age': 28, 'id': 50, 'name': 'Alexia', 'score': 8},
 {'age': 22, 'id': 51, 'name': 'Alexina', 'score': 3},
 {'age': 4, 'id': 52, 'name': 'Alexine', 'score': 3},
 {'age': 24, 'id': 53, 'name': 'Alexis', 'score': 7},
 {'age': 31, 'id': 54, 'name': 'Alfreda', 'score': 1},
 {'age': 31, 'id': 55, 'name': 'Alicea', 'score': 8},
 {'age': 20, 'id': 56, 'name': 'Alicia', 'score': 7},
 {'age': 43, 'id': 57, 'name': 'Alidia', 'score': 1},
 {'age': 30, 'id': 58, 'name': 'Alikee', 'score': 6},
 {'age': 16, 'id': 59, 'name': 'Alisha', 'score': 7},
 {'age': 25, 'id': 60, 'name': 'Alison', 'score': 8},
 {'age': 64, 'id': 61, 'name': 'Alissa', 'score': 6},
 {'age': 46, 'id': 62, 'name': 'Alisun', 'score': 4},
 {'age': 46, 'id': 63, 'name': 'Alleen', 'score': 0},
 {'age': 23, 'id': 64, 'name': 'Allegra', 'score': 9},
 {'age': 20, 'id': 65, 'name': 'Allene', 'score': 2},
 {'age': 66, 'id': 66, 'name': 'Allina', 'score': 8},
 {'age': 23, 'id': 67, 'name': 'Allison', 'score': 6},
 {'age': 10, 'id': 68, 'name': 'Allissa', 'score': 0},
 {'age': 66, 'id': 69, 'name': 'Allsun', 'score': 9},
 {'age': 46, 'id': 70, 'name': 'Allyce', 'score': 3},
 {'age': 52, 'id': 71, 'name': 'Allyson', 'score': 4},
 {'age': 37, 'id': 72, 'name': 'Almeda', 'score': 2},
 {'age': 34, 'id': 73, 'name': 'Almeria', 'score': 6},
 {'age': 30, 'id': 74, 'name': 'Almeta', 'score': 1},
 {'age': 36, 'id': 75, 'name': 'Almira', 'score': 9},
 {'age': 54, 'id': 76, 'name': 'Almire', 'score': 4},
 {'age': 52, 'id': 77, 'name': 'Aloise', 'score': 7},
 {'age': 31, 'id': 78, 'name': 'Aloisia', 'score': 1},
 {'age': 65, 'id': 79, 'name': 'Aloysia', 'score': 7},
 {'age': 57, 'id': 80, 'name': 'Althea', 'score': 3},
 {'age': 62, 'id': 81, 'name': 'Alvera', 'score': 2},
 {'age': 61, 'id': 82, 'name': 'Alverta', 'score': 4},
 {'age': 10, 'id': 83, 'name': 'Alvina', 'score': 3},
 {'age': 64, 'id': 84, 'name': 'Alvinia', 'score': 7},
 {'age': 49, 'id': 85, 'name': 'Alvira', 'score': 0},
 {'age': 69, 'id': 86, 'name': 'Alysia', 'score': 0},
 {'age': 26, 'id': 87, 'name': 'Alyson', 'score': 6},
 {'age': 64, 'id': 88, 'name': 'Alyssa', 'score': 5},
 {'age': 47, 'id': 89, 'name': 'Amabel', 'score': 9},
 {'age': 23, 'id': 90, 'name': 'Amalea', 'score': 6},
 {'age': 3, 'id': 91, 'name': 'Amalee', 'score': 3},
 {'age': 22, 'id': 92, 'name': 'Amaleta', 'score': 9},
 {'age': 66, 'id': 93, 'name': 'Amalia', 'score': 6},
 {'age': 20, 'id': 94, 'name': 'Amalie', 'score': 0},
 {'age': 68, 'id': 95, 'name': 'Amalita', 'score': 6},
 {'age': 4, 'id': 96, 'name': 'Amalle', 'score': 3},
 {'age': 35, 'id': 97, 'name': 'Amanda', 'score': 9},
 {'age': 4, 'id': 98, 'name': 'Amandi', 'score': 8},
 {'age': 68, 'id': 99, 'name': 'Amandie', 'score': 3},
 {'age': 50, 'id': 100, 'name': 'Amandy', 'score': 2},
 {'age': 6, 'id': 101, 'name': 'Amargo', 'score': 8},
 {'age': 42, 'id': 102, 'name': 'Amberly', 'score': 9},
 {'age': 66, 'id': 103, 'name': 'Amelia', 'score': 2},
 {'age': 63, 'id': 104, 'name': 'Amelie', 'score': 1},
 {'age': 69, 'id': 105, 'name': 'Amelina', 'score': 0},
 {'age': 25, 'id': 106, 'name': 'Ameline', 'score': 5},
 {'age': 24, 'id': 107, 'name': 'Amelita', 'score': 4},
 {'age': 63, 'id': 108, 'name': 'Amitie', 'score': 1},
 {'age': 57, 'id': 109, 'name': 'Anabal', 'score': 0},
 {'age': 40, 'id': 110, 'name': 'Anabel', 'score': 1},
 {'age': 39, 'id': 111, 'name': 'Analise', 'score': 6},
 {'age': 9, 'id': 112, 'name': 'Anatola', 'score': 8},
 {'age': 41, 'id': 113, 'name': 'Andeee', 'score': 7},
 {'age': 48, 'id': 114, 'name': 'Anderea', 'score': 8},
 {'age': 23, 'id': 115, 'name': 'Andrea', 'score': 1},
 {'age': 10, 'id': 116, 'name': 'Andree', 'score': 5},
 {'age': 50, 'id': 117, 'name': 'Andrei', 'score': 5},
 {'age': 21, 'id': 118, 'name': 'Andria', 'score': 7},
 {'age': 23, 'id': 119, 'name': 'Anetta', 'score': 4},
 {'age': 21, 'id': 120, 'name': 'Anette', 'score': 1},
 {'age': 9, 'id': 121, 'name': 'Angela', 'score': 0},
 {'age': 41, 'id': 122, 'name': 'Angele', 'score': 4},
 {'age': 41, 'id': 123, 'name': 'Angelia', 'score': 5},
 {'age': 3, 'id': 124, 'name': 'Angelle', 'score': 3},
 {'age': 7, 'id': 125, 'name': 'Anissa', 'score': 6},
 {'age': 16, 'id': 126, 'name': 'Anitra', 'score': 0},
 {'age': 20, 'id': 127, 'name': 'Anjela', 'score': 4},
 {'age': 68, 'id': 128, 'name': 'Annabal', 'score': 4},
 {'age': 45, 'id': 129, 'name': 'Annabel', 'score': 2},
 {'age': 61, 'id': 130, 'name': 'Annalee', 'score': 8},
 {'age': 52, 'id': 131, 'name': 'Annetta', 'score': 7},
 {'age': 33, 'id': 132, 'name': 'Annette', 'score': 9},
 {'age': 69, 'id': 133, 'name': 'Annice', 'score': 4},
 {'age': 21, 'id': 134, 'name': 'Annissa', 'score': 3},
 {'age': 4, 'id': 135, 'name': 'Annnora', 'score': 4},
 {'age': 67, 'id': 136, 'name': 'Annora', 'score': 0},
 {'age': 25, 'id': 137, 'name': 'Anselma', 'score': 5},
 {'age': 37, 'id': 138, 'name': 'Ansley', 'score': 4},
 {'age': 33, 'id': 139, 'name': 'Anstice', 'score': 4},
 {'age': 35, 'id': 140, 'name': 'Anthea', 'score': 4},
 {'age': 12, 'id': 141, 'name': 'Anthia', 'score': 1},
 {'age': 34, 'id': 142, 'name': 'Antonia', 'score': 9},
 {'age': 40, 'id': 143, 'name': 'Antonie', 'score': 2},
 {'age': 52, 'id': 144, 'name': 'Arabel', 'score': 8},
 {'age': 2, 'id': 145, 'name': 'Arabela', 'score': 5},
 {'age': 30, 'id': 146, 'name': 'Arabele', 'score': 5},
 {'age': 54, 'id': 147, 'name': 'Ardath', 'score': 9},
 {'age': 58, 'id': 148, 'name': 'Ardeen', 'score': 6},
 {'age': 29, 'id': 149, 'name': 'Ardelia', 'score': 0},
 {'age': 26, 'id': 150, 'name': 'Ardelis', 'score': 0},
 {'age': 38, 'id': 151, 'name': 'Ardella', 'score': 9},
 {'age': 48, 'id': 152, 'name': 'Ardelle', 'score': 0},
 {'age': 23, 'id': 153, 'name': 'Ardene', 'score': 7},
 {'age': 54, 'id': 154, 'name': 'Ardenia', 'score': 1},
 {'age': 66, 'id': 155, 'name': 'Ardine', 'score': 9},
 {'age': 61, 'id': 156, 'name': 'Ardisj', 'score': 9},
 {'age': 7, 'id': 157, 'name': 'Ardith', 'score': 1},
 {'age': 52, 'id': 158, 'name': 'Ardyce', 'score': 7},
 {'age': 11, 'id': 159, 'name': 'Ardyth', 'score': 8},
 {'age': 12, 'id': 160, 'name': 'Aretha', 'score': 0},
 {'age': 12, 'id': 161, 'name': 'Ariadne', 'score': 9},
 {'age': 36, 'id': 162, 'name': 'Ariana', 'score': 7},
 {'age': 56, 'id': 163, 'name': 'Ariela', 'score': 6},
 {'age': 35, 'id': 164, 'name': 'Ariella', 'score': 0},
 {'age': 20, 'id': 165, 'name': 'Arielle', 'score': 9},
 {'age': 12, 'id': 166, 'name': 'Arlana', 'score': 8},
 {'age': 52, 'id': 167, 'name': 'Arleen', 'score': 6},
 {'age': 46, 'id': 168, 'name': 'Arlena', 'score': 7},
 {'age': 26, 'id': 169, 'name': 'Arlene', 'score': 5},
 {'age': 12, 'id': 170, 'name': 'Arleta', 'score': 8},
 {'age': 66, 'id': 171, 'name': 'Arlette', 'score': 2},
 {'age': 38, 'id': 172, 'name': 'Arleyne', 'score': 3},
 {'age': 24, 'id': 173, 'name': 'Arliene', 'score': 4},
 {'age': 35, 'id': 174, 'name': 'Arlina', 'score': 7},
 {'age': 64, 'id': 175, 'name': 'Arlinda', 'score': 1},
 {'age': 32, 'id': 176, 'name': 'Arline', 'score': 8},
 {'age': 29, 'id': 177, 'name': 'Arluene', 'score': 2},
 {'age': 4, 'id': 178, 'name': 'Arlyne', 'score': 1},
 {'age': 12, 'id': 179, 'name': 'Ashely', 'score': 4},
 {'age': 42, 'id': 180, 'name': 'Ashien', 'score': 3},
 {'age': 23, 'id': 181, 'name': 'Ashlan', 'score': 2},
 {'age': 33, 'id': 182, 'name': 'Ashlee', 'score': 2},
 {'age': 22, 'id': 183, 'name': 'Ashlen', 'score': 5},
 {'age': 1, 'id': 184, 'name': 'Ashley', 'score': 7},
 {'age': 11, 'id': 185, 'name': 'Ashlie', 'score': 1},
 {'age': 10, 'id': 186, 'name': 'Astrid', 'score': 8},
 {'age': 15, 'id': 187, 'name': 'Astrix', 'score': 5},
 {'age': 19, 'id': 188, 'name': 'Athena', 'score': 1},
 {'age': 26, 'id': 189, 'name': 'Athene', 'score': 4},
 {'age': 47, 'id': 190, 'name': 'Atlanta', 'score': 3},
 {'age': 10, 'id': 191, 'name': 'Atlante', 'score': 2},
 {'age': 39, 'id': 192, 'name': 'Auberta', 'score': 1},
 {'age': 21, 'id': 193, 'name': 'Aubine', 'score': 1},
 {'age': 24, 'id': 194, 'name': 'Aubree', 'score': 7},
 {'age': 31, 'id': 195, 'name': 'Aubrey', 'score': 8},
 {'age': 28, 'id': 196, 'name': 'Aubrie', 'score': 4},
 {'age': 62, 'id': 197, 'name': 'Audrey', 'score': 3},
 {'age': 38, 'id': 198, 'name': 'Audrie', 'score': 1},
 {'age': 45, 'id': 199, 'name': 'Audrye', 'score': 8},
 {'age': 54, 'id': 200, 'name': 'Augusta', 'score': 7},
 {'age': 45, 'id': 201, 'name': 'Auguste', 'score': 7},
 {'age': 62, 'id': 202, 'name': 'Aundrea', 'score': 5},
 {'age': 50, 'id': 203, 'name': 'Aurelea', 'score': 9},
 {'age': 39, 'id': 204, 'name': 'Aurelia', 'score': 2},
 {'age': 13, 'id': 205, 'name': 'Aurelie', 'score': 0},
 {'age': 58, 'id': 206, 'name': 'Aurilia', 'score': 2},
 {'age': 38, 'id': 207, 'name': 'Aurlie', 'score': 6},
 {'age': 61, 'id': 208, 'name': 'Auroora', 'score': 7},
 {'age': 20, 'id': 209, 'name': 'Aurora', 'score': 7},
 {'age': 41, 'id': 210, 'name': 'Aurore', 'score': 3},
 {'age': 12, 'id': 211, 'name': 'Austin', 'score': 5},
 {'age': 11, 'id': 212, 'name': 'Austina', 'score': 1},
 {'age': 70, 'id': 213, 'name': 'Austine', 'score': 4},
 {'age': 37, 'id': 214, 'name': 'Aveline', 'score': 4},
 {'age': 31, 'id': 215, 'name': 'Averil', 'score': 5},
 {'age': 28, 'id': 216, 'name': 'Averyl', 'score': 0},
 {'age': 66, 'id': 217, 'name': 'Avivah', 'score': 9},
 {'age': 68, 'id': 218, 'name': 'Babara', 'score': 7},
 {'age': 55, 'id': 219, 'name': 'Babbie', 'score': 1},
 {'age': 65, 'id': 220, 'name': 'Babette', 'score': 7},
 {'age': 30, 'id': 221, 'name': 'Babita', 'score': 1},
 {'age': 55, 'id': 222, 'name': 'Bambie', 'score': 2},
 {'age': 52, 'id': 223, 'name': 'Barbara', 'score': 2},
 {'age': 13, 'id': 224, 'name': 'Barbee', 'score': 0},
 {'age': 57, 'id': 225, 'name': 'Barbey', 'score': 9},
 {'age': 32, 'id': 226, 'name': 'Barbie', 'score': 3},
 {'age': 53, 'id': 227, 'name': 'Barbra', 'score': 5},
 {'age': 52, 'id': 228, 'name': 'Barrie', 'score': 3},
 {'age': 54, 'id': 229, 'name': 'Beatrix', 'score': 7},
 {'age': 38, 'id': 230, 'name': 'Beatriz', 'score': 4},
 {'age': 51, 'id': 231, 'name': 'Beckie', 'score': 0},
 {'age': 56, 'id': 232, 'name': 'Beilul', 'score': 4},
 {'age': 26, 'id': 233, 'name': 'Beitris', 'score': 5},
 {'age': 24, 'id': 234, 'name': 'Belicia', 'score': 9},
 {'age': 22, 'id': 235, 'name': 'Belinda', 'score': 0},
 {'age': 42, 'id': 236, 'name': 'Belita', 'score': 9},
 {'age': 52, 'id': 237, 'name': 'Bellina', 'score': 0},
 {'age': 61, 'id': 238, 'name': 'Belvia', 'score': 0},
 {'age': 70, 'id': 239, 'name': 'Bendite', 'score': 9},
 {'age': 61, 'id': 240, 'name': 'Benetta', 'score': 6},
 {'age': 36, 'id': 241, 'name': 'Benita', 'score': 2},
 {'age': 69, 'id': 242, 'name': 'Bennie', 'score': 7},
 {'age': 18, 'id': 243, 'name': 'Benoite', 'score': 7},
 {'age': 56, 'id': 244, 'name': 'Berget', 'score': 1},
 {'age': 31, 'id': 245, 'name': 'Bernete', 'score': 7},
 {'age': 65, 'id': 246, 'name': 'Bernice', 'score': 0},
 {'age': 12, 'id': 247, 'name': 'Bernie', 'score': 3},
 {'age': 19, 'id': 248, 'name': 'Bernita', 'score': 4},
 {'age': 7, 'id': 249, 'name': 'Berrie', 'score': 0},
 {'age': 46, 'id': 250, 'name': 'Bertha', 'score': 9},
 {'age': 67, 'id': 251, 'name': 'Berthe', 'score': 0},
 {'age': 47, 'id': 252, 'name': 'Bertie', 'score': 7},
 {'age': 44, 'id': 253, 'name': 'Bertina', 'score': 4},
 {'age': 42, 'id': 254, 'name': 'Bertine', 'score': 5},
 {'age': 30, 'id': 255, 'name': 'Beryle', 'score': 1},
 {'age': 27, 'id': 256, 'name': 'Bessie', 'score': 0},
 {'age': 2, 'id': 257, 'name': 'Bethany', 'score': 6},
 {'age': 70, 'id': 258, 'name': 'Bethena', 'score': 6},
 {'age': 2, 'id': 259, 'name': 'Bethina', 'score': 1},
 {'age': 59, 'id': 260, 'name': 'Betsey', 'score': 2},
 {'age': 1, 'id': 261, 'name': 'Bettina', 'score': 8},
 {'age': 66, 'id': 262, 'name': 'Bettine', 'score': 2},
 {'age': 63, 'id': 263, 'name': 'Bettye', 'score': 6},
 {'age': 7, 'id': 264, 'name': 'Beulah', 'score': 8},
 {'age': 14, 'id': 265, 'name': 'Beverie', 'score': 1},
 {'age': 17, 'id': 266, 'name': 'Beverly', 'score': 7},
 {'age': 25, 'id': 267, 'name': 'Bianca', 'score': 9},
 {'age': 27, 'id': 268, 'name': 'Bianka', 'score': 2},
 {'age': 14, 'id': 269, 'name': 'Bibbie', 'score': 6},
 {'age': 18, 'id': 270, 'name': 'Bibbye', 'score': 2},
 {'age': 7, 'id': 271, 'name': 'Biddie', 'score': 1},
 {'age': 23, 'id': 272, 'name': 'Bidget', 'score': 0},
 {'age': 69, 'id': 273, 'name': 'Billie', 'score': 0},
 {'age': 16, 'id': 274, 'name': 'Billye', 'score': 6},
 {'age': 43, 'id': 275, 'name': 'Binnie', 'score': 1},
 {'age': 34, 'id': 276, 'name': 'Birdie', 'score': 4},
 {'age': 8, 'id': 277, 'name': 'Birgit', 'score': 2},
 {'age': 45, 'id': 278, 'name': 'Blaire', 'score': 4},
 {'age': 58, 'id': 279, 'name': 'Blanca', 'score': 1},
 {'age': 60, 'id': 280, 'name': 'Blanch', 'score': 7},
 {'age': 45, 'id': 281, 'name': 'Blancha', 'score': 3},
 {'age': 38, 'id': 282, 'name': 'Blanche', 'score': 7},
 {'age': 1, 'id': 283, 'name': 'Blinni', 'score': 1},
 {'age': 5, 'id': 284, 'name': 'Blinnie', 'score': 6},
 {'age': 61, 'id': 285, 'name': 'Blinny', 'score': 9},
 {'age': 66, 'id': 286, 'name': 'Blisse', 'score': 8},
 {'age': 54, 'id': 287, 'name': 'Blithe', 'score': 5},
 {'age': 26, 'id': 288, 'name': 'Blondie', 'score': 4},
 {'age': 3, 'id': 289, 'name': 'Blondy', 'score': 8},
 {'age': 34, 'id': 290, 'name': 'Blythe', 'score': 0},
 {'age': 58, 'id': 291, 'name': 'Bobbee', 'score': 9},
 {'age': 19, 'id': 292, 'name': 'Bobbie', 'score': 4},
 {'age': 24, 'id': 293, 'name': 'Bobbye', 'score': 3},
 {'age': 58, 'id': 294, 'name': 'Bobette', 'score': 2},
 {'age': 65, 'id': 295, 'name': 'Bobina', 'score': 2},
 {'age': 62, 'id': 296, 'name': 'Bobine', 'score': 3},
 {'age': 9, 'id': 297, 'name': 'Bonita', 'score': 1},
 {'age': 20, 'id': 298, 'name': 'Bonnee', 'score': 4},
 {'age': 20, 'id': 299, 'name': 'Bonnie', 'score': 3},
 {'age': 58, 'id': 300, 'name': 'Brande', 'score': 1},
 {'age': 34, 'id': 301, 'name': 'Brandea', 'score': 4},
 {'age': 67, 'id': 302, 'name': 'Brandi', 'score': 3},
 {'age': 5, 'id': 303, 'name': 'Brandie', 'score': 7},
 {'age': 23, 'id': 304, 'name': 'Brandy', 'score': 5},
 {'age': 57, 'id': 305, 'name': 'Breanne', 'score': 4},
 {'age': 54, 'id': 306, 'name': 'Breena', 'score': 0},
 {'age': 14, 'id': 307, 'name': 'Brenda', 'score': 6},
 {'age': 67, 'id': 308, 'name': 'Brenna', 'score': 3},
 {'age': 35, 'id': 309, 'name': 'Briana', 'score': 0},
 {'age': 2, 'id': 310, 'name': 'Brianna', 'score': 8},
 {'age': 45, 'id': 311, 'name': 'Brianne', 'score': 0},
 {'age': 34, 'id': 312, 'name': 'Bridget', 'score': 7},
 {'age': 43, 'id': 313, 'name': 'Bridie', 'score': 8},
 {'age': 42, 'id': 314, 'name': 'Brietta', 'score': 3},
 {'age': 25, 'id': 315, 'name': 'Brigid', 'score': 5},
 {'age': 11, 'id': 316, 'name': 'Brigida', 'score': 5},
 {'age': 31, 'id': 317, 'name': 'Brigit', 'score': 3},
 {'age': 8, 'id': 318, 'name': 'Briney', 'score': 2},
 {'age': 25, 'id': 319, 'name': 'Brinna', 'score': 6},
 {'age': 35, 'id': 320, 'name': 'Britney', 'score': 5},
 {'age': 28, 'id': 321, 'name': 'Britni', 'score': 5},
 {'age': 22, 'id': 322, 'name': 'Britta', 'score': 6},
 {'age': 67, 'id': 323, 'name': 'Brittan', 'score': 9},
 {'age': 11, 'id': 324, 'name': 'Britte', 'score': 4},
 {'age': 57, 'id': 325, 'name': 'Brittne', 'score': 7},
 {'age': 67, 'id': 326, 'name': 'Brittni', 'score': 4},
 {'age': 3, 'id': 327, 'name': 'Brooke', 'score': 6},
 {'age': 6, 'id': 328, 'name': 'Brooks', 'score': 5},
 {'age': 68, 'id': 329, 'name': 'Bryana', 'score': 1},
 {'age': 57, 'id': 330, 'name': 'Brynna', 'score': 6},
 {'age': 68, 'id': 331, 'name': 'Brynne', 'score': 0},
 {'age': 11, 'id': 332, 'name': 'Bunnie', 'score': 8},
 {'age': 52, 'id': 333, 'name': 'Cacilia', 'score': 8},
 {'age': 7, 'id': 334, 'name': 'Cacilie', 'score': 1},
 {'age': 38, 'id': 335, 'name': 'Caitlin', 'score': 1},
 {'age': 17, 'id': 336, 'name': 'Caitrin', 'score': 1},
 {'age': 33, 'id': 337, 'name': 'Calida', 'score': 3},
 {'age': 28, 'id': 338, 'name': 'Calley', 'score': 3},
 {'age': 56, 'id': 339, 'name': 'Callida', 'score': 7},
 {'age': 58, 'id': 340, 'name': 'Callie', 'score': 1},
 {'age': 34, 'id': 341, 'name': 'Calypso', 'score': 9},
 {'age': 15, 'id': 342, 'name': 'Camala', 'score': 4},
 {'age': 30, 'id': 343, 'name': 'Camella', 'score': 2},
 {'age': 32, 'id': 344, 'name': 'Camila', 'score': 6},
 {'age': 45, 'id': 345, 'name': 'Camile', 'score': 7},
 {'age': 25, 'id': 346, 'name': 'Camilla', 'score': 8},
 {'age': 49, 'id': 347, 'name': 'Camille', 'score': 2},
 {'age': 69, 'id': 348, 'name': 'Cammie', 'score': 2},
 {'age': 14, 'id': 349, 'name': 'Candace', 'score': 9},
 {'age': 28, 'id': 350, 'name': 'Candice', 'score': 9},
 {'age': 33, 'id': 351, 'name': 'Candida', 'score': 1},
 {'age': 52, 'id': 352, 'name': 'Candide', 'score': 5},
 {'age': 4, 'id': 353, 'name': 'Candie', 'score': 6},
 {'age': 28, 'id': 354, 'name': 'Candis', 'score': 5},
 {'age': 12, 'id': 355, 'name': 'Candra', 'score': 0},
 {'age': 11, 'id': 356, 'name': 'Caprice', 'score': 0},
 {'age': 54, 'id': 357, 'name': 'Caralie', 'score': 3},
 {'age': 60, 'id': 358, 'name': 'Carena', 'score': 5},
 {'age': 29, 'id': 359, 'name': 'Caresa', 'score': 4},
 {'age': 24, 'id': 360, 'name': 'Caressa', 'score': 7},
 {'age': 51, 'id': 361, 'name': 'Caresse', 'score': 6},
 {'age': 25, 'id': 362, 'name': 'Carilyn', 'score': 6},

### empty dataframe

In [ ]:
df = pd.DataFrame(columns = ['age' , 'id' , 'name' , 'score'])
df

Empty DataFrame
Columns: [age, id, name, score]
Index: []

In [ ]:
%%time
# append list of items dictionary and assign it to df
for index , item in enumerate(data['data']):
  print(f"-- running for {index} --")
  df = df.append([item] , ignore_index = True)

print('\n\n done')

-- running for 0 --
-- running for 1 --
-- running for 2 --
-- running for 3 --
-- running for 4 --
-- running for 5 --
-- running for 6 --
-- running for 7 --
-- running for 8 --
-- running for 9 --
-- running for 10 --
-- running for 11 --
-- running for 12 --
-- running for 13 --
-- running for 14 --
-- running for 15 --
-- running for 16 --
-- running for 17 --
-- running for 18 --
-- running for 19 --
-- running for 20 --
-- running for 21 --
-- running for 22 --
-- running for 23 --
-- running for 24 --
-- running for 25 --
-- running for 26 --
-- running for 27 --
-- running for 28 --
-- running for 29 --
-- running for 30 --
-- running for 31 --
-- running for 32 --
-- running for 33 --
-- running for 34 --
-- running for 35 --
-- running for 36 --
-- running for 37 --
-- running for 38 --
-- running for 39 --
-- running for 40 --
-- running for 41 --
-- running for 42 --
-- running for 43 --
-- running for 44 --
-- running for 45 --
-- running for 46 --
-- running for 47 --
-- running for 48 --
-- running for 49 --
-- running for 50 --
-- running for 51 --
-- running for 52 --
-- running for 53 --
-- running for 54 --
-- running for 55 --
-- running for 56 --
-- running for 57 --
-- running for 58 --
-- running for 59 --
-- running for 60 --
-- running for 61 --
-- running for 62 --
-- running for 63 --
-- running for 64 --
-- running for 65 --
-- running for 66 --
-- running for 67 --
-- running for 68 --
-- running for 69 --
-- running for 70 --
-- running for 71 --
-- running for 72 --
-- running for 73 --
-- running for 74 --
-- running for 75 --
-- running for 76 --
-- running for 77 --
-- running for 78 --
-- running for 79 --
-- running for 80 --
-- running for 81 --
-- running for 82 --
-- running for 83 --
-- running for 84 --
-- running for 85 --
-- running for 86 --
-- running for 87 --
-- running for 88 --
-- running for 89 --
-- running for 90 --
-- running for 91 --
-- running for 92 --
-- running for 93 --
-- running for 94 --
-- running for 95 --
-- running for 96 --
-- running for 97 --
-- running for 98 --
-- running for 99 --
-- running for 100 --
-- running for 101 --
-- running for 102 --
-- running for 103 --
-- running for 104 --
-- running for 105 --
-- running for 106 --
-- running for 107 --
-- running for 108 --
-- running for 109 --
-- running for 110 --
-- running for 111 --
-- running for 112 --
-- running for 113 --
-- running for 114 --
-- running for 115 --
-- running for 116 --
-- running for 117 --
-- running for 118 --
-- running for 119 --
-- running for 120 --
-- running for 121 --
-- running for 122 --
-- running for 123 --
-- running for 124 --
-- running for 125 --
-- running for 126 --
-- running for 127 --
-- running for 128 --
-- running for 129 --
-- running for 130 --
-- running for 131 --
-- running for 132 --
-- running for 133 --
-- running for 134 --
-- running for 135 --
-- running for 136 --
-- running for 137 --
-- running for 138 --
-- running for 139 --
-- running for 140 --
-- running for 141 --
-- running for 142 --
-- running for 143 --
-- running for 144 --
-- running for 145 --
-- running for 146 --
-- running for 147 --
-- running for 148 --
-- running for 149 --
-- running for 150 --
-- running for 151 --
-- running for 152 --
-- running for 153 --
-- running for 154 --
-- running for 155 --
-- running for 156 --
-- running for 157 --
-- running for 158 --
-- running for 159 --
-- running for 160 --
-- running for 161 --
-- running for 162 --
-- running for 163 --
-- running for 164 --
-- running for 165 --
-- running for 166 --
-- running for 167 --
-- running for 168 --
-- running for 169 --
-- running for 170 --
-- running for 171 --
-- running for 172 --
-- running for 173 --
-- running for 174 --
-- running for 175 --
-- running for 176 --
-- running for 177 --
-- running for 178 --
-- running for 179 --
-- running for 180 --
-- running for 181 --
-- running for 182 --
-- running for 183 --
-- running for 184 --
-- running for 185 --
-- running for 186 --
-- running for 187 --
-- running for 188 --
-- running for 189 --
-- running for 190 --
-- running for 191 --
-- running for 192 --
-- running for 193 --
-- running for 194 --
-- running for 195 --
-- running for 196 --
-- running for 197 --
-- running for 198 --
-- running for 199 --
-- running for 200 --
-- running for 201 --
-- running for 202 --
-- running for 203 --
-- running for 204 --
-- running for 205 --
-- running for 206 --
-- running for 207 --
-- running for 208 --
-- running for 209 --
-- running for 210 --
-- running for 211 --
-- running for 212 --
-- running for 213 --
-- running for 214 --
-- running for 215 --
-- running for 216 --
-- running for 217 --
-- running for 218 --
-- running for 219 --
-- running for 220 --
-- running for 221 --
-- running for 222 --
-- running for 223 --
-- running for 224 --
-- running for 225 --
-- running for 226 --
-- running for 227 --
-- running for 228 --
-- running for 229 --
-- running for 230 --
-- running for 231 --
-- running for 232 --
-- running for 233 --
-- running for 234 --
-- running for 235 --
-- running for 236 --
-- running for 237 --
-- running for 238 --
-- running for 239 --
-- running for 240 --
-- running for 241 --
-- running for 242 --
-- running for 243 --
-- running for 244 --
-- running for 245 --
-- running for 246 --
-- running for 247 --
-- running for 248 --
-- running for 249 --
-- running for 250 --
-- running for 251 --
-- running for 252 --
-- running for 253 --
-- running for 254 --
-- running for 255 --
-- running for 256 --
-- running for 257 --
-- running for 258 --
-- running for 259 --
-- running for 260 --
-- running for 261 --
-- running for 262 --
-- running for 263 --
-- running for 264 --
-- running for 265 --
-- running for 266 --
-- running for 267 --
-- running for 268 --
-- running for 269 --
-- running for 270 --
-- running for 271 --
-- running for 272 --
-- running for 273 --
-- running for 274 --
-- running for 275 --
-- running for 276 --
-- running for 277 --
-- running for 278 --
-- running for 279 --
-- running for 280 --
-- running for 281 --
-- running for 282 --
-- running for 283 --
-- running for 284 --
-- running for 285 --
-- running for 286 --
-- running for 287 --
-- running for 288 --
-- running for 289 --
-- running for 290 --
-- running for 291 --
-- running for 292 --
-- running for 293 --
-- running for 294 --
-- running for 295 --
-- running for 296 --
-- running for 297 --
-- running for 298 --
-- running for 299 --
-- running for 300 --
-- running for 301 --
-- running for 302 --
-- running for 303 --
-- running for 304 --
-- running for 305 --
-- running for 306 --
-- running for 307 --
-- running for 308 --
-- running for 309 --
-- running for 310 --
-- running for 311 --
-- running for 312 --
-- running for 313 --
-- running for 314 --
-- running for 315 --
-- running for 316 --
-- running for 317 --
-- running for 318 --
-- running for 319 --
-- running for 320 --
-- running for 321 --
-- running for 322 --
-- running for 323 --
-- running for 324 --
-- running for 325 --
-- running for 326 --
-- running for 327 --
-- running for 328 --
-- running for 329 --
-- running for 330 --
-- running for 331 --
-- running for 332 --
-- running for 333 --
-- running for 334 --
-- running for 335 --
-- running for 336 --
-- running for 337 --
-- running for 338 --
-- running for 339 --
-- running for 340 --
-- running for 341 --
-- running for 342 --
-- running for 343 --
-- running for 344 --
-- running for 345 --
-- running for 346 --
-- running for 347 --
-- running for 348 --
-- running for 349 --
-- running for 350 --
-- running for 351 --
-- running for 352 --
-- running for 353 --
-- running for 354 --
-- running for 355 --
-- running for 356 --
-- running for 357 --
-- running for 358 --
-- running for 359 --
-- running for 360 --
-- running for 361 --
-- running for 362 --
-- running for 363 --
-- running for 364 --
-- running for 365 --
-- running for 366 --
-- running for 367 --
-- running for 368 --
-- running for 369 --
-- running for 370 --
-- running for 371 --
-- running for 372 --
-- running for 373 --
-- running for 374 --
-- running for 375 --
-- running for 376 --
-- running for 377 --
-- running for 378 --
-- running for 379 --
-- running for 380 --
-- running for 381 --
-- running for 382 --
-- running for 383 --
-- running for 384 --
-- running for 385 --
-- running for 386 --
-- running for 387 --
-- running for 388 --
-- running for 389 --
-- running for 390 --
-- running for 391 --
-- running for 392 --
-- running for 393 --
-- running for 394 --
-- running for 395 --
-- running for 396 --
-- running for 397 --
-- running for 398 --
-- running for 399 --
-- running for 400 --
-- running for 401 --
-- running for 402 --
-- running for 403 --
-- running for 404 --
-- running for 405 --
-- running for 406 --
-- running for 407 --
-- running for 408 --
-- running for 409 --
-- running for 410 --
-- running for 411 --
-- running for 412 --
-- running for 413 --
-- running for 414 --
-- running for 415 --
-- running for 416 --
-- running for 417 --
-- running for 418 --
-- running for 419 --
-- running for 420 --
-- running for 421 --
-- running for 422 --
-- running for 423 --
-- running for 424 --
-- running for 425 --
-- running for 426 --
-- running for 427 --
-- running for 428 --
-- running for 429 --
-- running for 430 --
-- running for 431 --
-- running for 432 --
-- running for 433 --
-- running for 434 --
-- running for 435 --
-- running for 436 --
-- running for 437 --
-- running for 438 --
-- running for 439 --
-- running for 440 --
-- running for 441 --
-- running for 442 --
-- running for 443 --
-- running for 444 --
-- running for 445 --
-- running for 446 --
-- running for 447 --
-- running for 448 --
-- running for 449 --
-- running for 450 --
-- running for 451 --
-- running for 452 --
-- running for 453 --
-- running for 454 --
-- running for 455 --
-- running for 456 --
-- running for 457 --
-- running for 458 --
-- running for 459 --
-- running for 460 --
-- running for 461 --
-- running for 462 --
-- running for 463 --
-- running for 464 --
-- running for 465 --
-- running for 466 --
-- running for 467 --
-- running for 468 --
-- running for 469 --
-- running for 470 --
-- running for 471 --
-- running for 472 --
-- running for 473 --
-- running for 474 --
-- running for 475 --
-- running for 476 --
-- running for 477 --
-- running for 478 --
-- running for 479 --
-- running for 480 --
-- running for 481 --
-- running for 482 --
-- running for 483 --
-- running for 484 --
-- running for 485 --
-- running for 486 --
-- running for 487 --
-- running for 488 --
-- running for 489 --
-- running for 490 --
-- running for 491 --
-- running for 492 --
-- running for 493 --
-- running for 494 --
-- running for 495 --
-- running for 496 --
-- running for 497 --
-- running for 498 --
-- running for 499 --
-- running for 500 --
-- running for 501 --
-- running for 502 --
-- running for 503 --
-- running for 504 --
-- running for 505 --
-- running for 506 --
-- running for 507 --
-- running for 508 --
-- running for 509 --
-- running for 510 --
-- running for 511 --
-- running for 512 --
-- running for 513 --
-- running for 514 --
-- running for 515 --
-- running for 516 --
-- running for 517 --
-- running for 518 --
-- running for 519 --
-- running for 520 --
-- running for 521 --
-- running for 522 --
-- running for 523 --
-- running for 524 --
-- running for 525 --
-- running for 526 --
-- running for 527 --
-- running for 528 --
-- running for 529 --
-- running for 530 --
-- running for 531 --
-- running for 532 --
-- running for 533 --
-- running for 534 --
-- running for 535 --
-- running for 536 --
-- running for 537 --
-- running for 538 --
-- running for 539 --
-- running for 540 --
-- running for 541 --
-- running for 542 --
-- running for 543 --
-- running for 544 --
-- running for 545 --
-- running for 546 --
-- running for 547 --
-- running for 548 --
-- running for 549 --
-- running for 550 --
-- running for 551 --
-- running for 552 --
-- running for 553 --
-- running for 554 --
-- running for 555 --
-- running for 556 --
-- running for 557 --
-- running for 558 --
-- running for 559 --
-- running for 560 --
-- running for 561 --
-- running for 562 --
-- running for 563 --
-- running for 564 --
-- running for 565 --
-- running for 566 --
-- running for 567 --
-- running for 568 --
-- running for 569 --
-- running for 570 --
-- running for 571 --
-- running for 572 --
-- running for 573 --
-- running for 574 --
-- running for 575 --
-- running for 576 --
-- running for 577 --
-- running for 578 --
-- running for 579 --
-- running for 580 --
-- running for 581 --
-- running for 582 --
-- running for 583 --
-- running for 584 --
-- running for 585 --
-- running for 586 --
-- running for 587 --
-- running for 588 --
-- running for 589 --
-- running for 590 --
-- running for 591 --
-- running for 592 --
-- running for 593 --
-- running for 594 --
-- running for 595 --
-- running for 596 --
-- running for 597 --
-- running for 598 --
-- running for 599 --
-- running for 600 --
-- running for 601 --
-- running for 602 --
-- running for 603 --
-- running for 604 --
-- running for 605 --
-- running for 606 --
-- running for 607 --
-- running for 608 --
-- running for 609 --
-- running for 610 --
-- running for 611 --
-- running for 612 --
-- running for 613 --
-- running for 614 --
-- running for 615 --
-- running for 616 --
-- running for 617 --
-- running for 618 --
-- running for 619 --
-- running for 620 --
-- running for 621 --
-- running for 622 --
-- running for 623 --
-- running for 624 --
-- running for 625 --
-- running for 626 --
-- running for 627 --
-- running for 628 --
-- running for 629 --
-- running for 630 --
-- running for 631 --
-- running for 632 --
-- running for 633 --
-- running for 634 --
-- running for 635 --
-- running for 636 --
-- running for 637 --
-- running for 638 --
-- running for 639 --
-- running for 640 --
-- running for 641 --
-- running for 642 --
-- running for 643 --
-- running for 644 --
-- running for 645 --
-- running for 646 --
-- running for 647 --
-- running for 648 --
-- running for 649 --
-- running for 650 --
-- running for 651 --
-- running for 652 --
-- running for 653 --
-- running for 654 --
-- running for 655 --
-- running for 656 --
-- running for 657 --
-- running for 658 --
-- running for 659 --
-- running for 660 --
-- running for 661 --
-- running for 662 --
-- running for 663 --
-- running for 664 --
-- running for 665 --
-- running for 666 --
-- running for 667 --
-- running for 668 --
-- running for 669 --
-- running for 670 --
-- running for 671 --
-- running for 672 --
-- running for 673 --
-- running for 674 --
-- running for 675 --
-- running for 676 --
-- running for 677 --
-- running for 678 --
-- running for 679 --
-- running for 680 --
-- running for 681 --
-- running for 682 --
-- running for 683 --
-- running for 684 --
-- running for 685 --
-- running for 686 --
-- running for 687 --
-- running for 688 --
-- running for 689 --
-- running for 690 --
-- running for 691 --
-- running for 692 --
-- running for 693 --
-- running for 694 --
-- running for 695 --
-- running for 696 --
-- running for 697 --
-- running for 698 --
-- running for 699 --
-- running for 700 --
-- running for 701 --
-- running for 702 --
-- running for 703 --
-- running for 704 --
-- running for 705 --
-- running for 706 --
-- running for 707 --
-- running for 708 --
-- running for 709 --
-- running for 710 --
-- running for 711 --
-- running for 712 --
-- running for 713 --
-- running for 714 --
-- running for 715 --
-- running for 716 --
-- running for 717 --
-- running for 718 --
-- running for 719 --
-- running for 720 --
-- running for 721 --
-- running for 722 --
-- running for 723 --
-- running for 724 --
-- running for 725 --
-- running for 726 --
-- running for 727 --
-- running for 728 --
-- running for 729 --
-- running for 730 --
-- running for 731 --
-- running for 732 --
-- running for 733 --
-- running for 734 --
-- running for 735 --
-- running for 736 --
-- running for 737 --
-- running for 738 --
-- running for 739 --
-- running for 740 --
-- running for 741 --
-- running for 742 --
-- running for 743 --
-- running for 744 --
-- running for 745 --
-- running for 746 --
-- running for 747 --
-- running for 748 --
-- running for 749 --
-- running for 750 --
-- running for 751 --
-- running for 752 --
-- running for 753 --
-- running for 754 --
-- running for 755 --
-- running for 756 --
-- running for 757 --
-- running for 758 --
-- running for 759 --
-- running for 760 --
-- running for 761 --
-- running for 762 --
-- running for 763 --
-- running for 764 --
-- running for 765 --
-- running for 766 --
-- running for 767 --
-- running for 768 --
-- running for 769 --
-- running for 770 --
-- running for 771 --
-- running for 772 --
-- running for 773 --
-- running for 774 --
-- running for 775 --
-- running for 776 --
-- running for 777 --
-- running for 778 --
-- running for 779 --
-- running for 780 --
-- running for 781 --
-- running for 782 --
-- running for 783 --
-- running for 784 --
-- running for 785 --
-- running for 786 --
-- running for 787 --
-- running for 788 --
-- running for 789 --
-- running for 790 --
-- running for 791 --
-- running for 792 --
-- running for 793 --
-- running for 794 --
-- running for 795 --
-- running for 796 --
-- running for 797 --
-- running for 798 --
-- running for 799 --
-- running for 800 --
-- running for 801 --
-- running for 802 --
-- running for 803 --
-- running for 804 --
-- running for 805 --
-- running for 806 --
-- running for 807 --
-- running for 808 --
-- running for 809 --
-- running for 810 --
-- running for 811 --
-- running for 812 --
-- running for 813 --
-- running for 814 --
-- running for 815 --
-- running for 816 --
-- running for 817 --
-- running for 818 --
-- running for 819 --
-- running for 820 --
-- running for 821 --
-- running for 822 --
-- running for 823 --
-- running for 824 --
-- running for 825 --
-- running for 826 --
-- running for 827 --
-- running for 828 --
-- running for 829 --
-- running for 830 --
-- running for 831 --
-- running for 832 --
-- running for 833 --
-- running for 834 --
-- running for 835 --
-- running for 836 --
-- running for 837 --
-- running for 838 --
-- running for 839 --
-- running for 840 --
-- running for 841 --
-- running for 842 --
-- running for 843 --
-- running for 844 --
-- running for 845 --
-- running for 846 --
-- running for 847 --
-- running for 848 --
-- running for 849 --
-- running for 850 --
-- running for 851 --
-- running for 852 --
-- running for 853 --
-- running for 854 --
-- running for 855 --
-- running for 856 --
-- running for 857 --
-- running for 858 --
-- running for 859 --
-- running for 860 --
-- running for 861 --
-- running for 862 --
-- running for 863 --
-- running for 864 --
-- running for 865 --
-- running for 866 --
-- running for 867 --
-- running for 868 --
-- running for 869 --
-- running for 870 --
-- running for 871 --
-- running for 872 --
-- running for 873 --
-- running for 874 --
-- running for 875 --
-- running for 876 --
-- running for 877 --
-- running for 878 --
-- running for 879 --
-- running for 880 --
-- running for 881 --
-- running for 882 --
-- running for 883 --
-- running for 884 --
-- running for 885 --
-- running for 886 --
-- running for 887 --
-- running for 888 --
-- running for 889 --
-- running for 890 --
-- running for 891 --
-- running for 892 --
-- running for 893 --
-- running for 894 --
-- running for 895 --
-- running for 896 --
-- running for 897 --
-- running for 898 --
-- running for 899 --
-- running for 900 --
-- running for 901 --
-- running for 902 --
-- running for 903 --
-- running for 904 --
-- running for 905 --
-- running for 906 --
-- running for 907 --
-- running for 908 --
-- running for 909 --
-- running for 910 --
-- running for 911 --
-- running for 912 --
-- running for 913 --

In [ ]:
df.head()

  age id     name score
0  49  0   Aarika     5
1  30  1  Abagael     2
2  50  2  Abagail     9
3  37  3  Abigael     8
4  36  4  Abigail     6

In [ ]:
df

    age   id     name score
0    49    0   Aarika     5
1    30    1  Abagael     2
2    50    2  Abagail     9
3    37    3  Abigael     8
4    36    4  Abigail     6
..   ..  ...      ...   ...
995  63  995  Jacinda     5
996   3  996  Jacinta     9
997  14  997   Jackie     2
998  43  998  Jacklin     6
999  65  999  Jacklyn     5

[1000 rows x 4 columns]

### where age<18

In [ ]:
age_less_than_18 = df[df.age<18]
age_less_than_18

    age   id     name score
5     2    5  Abigale     3
6     3    6  Adaline     7
10    8   10  Adeline     1
11    5   11   Adella     6
13   10   13   Adiana     5
..   ..  ...      ...   ...
985  10  985  Iormina     0
989   7  989  Isidora     7
993   8  993   Izabel     0
996   3  996  Jacinta     9
997  14  997   Jackie     2

[238 rows x 4 columns]

In [ ]:
age_less_than_18[age_less_than_18.score <= 2]

    age   id     name score
10    8   10  Adeline     1
15    3   15   Adorne     1
16   13   16   Adrian     2
24   14   24   Agathe     1
28   11   28   Agneta     2
..   ..  ...      ...   ...
982  16  982   Ingrid     0
984  14  984  Iolande     0
985  10  985  Iormina     0
993   8  993   Izabel     0
997  14  997   Jackie     2

[84 rows x 4 columns]

In [ ]:
agegroup_1_low = len(age_less_than_18[age_less_than_18.score <= 2])
agegroup_1_low

84

In [ ]:
agegroup_2_low = len(df[(df.age>=18) & (df.age<=45)][df.score<=2])
agegroup_2_low

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

127

In [ ]:
agegroup_3_low = len(df[(df.age>=46) & (df.age<=60)][df.score<=2])
agegroup_3_low

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

66

In [ ]:
agegroup_4_low = len(df[(df.age>=61)][df.score<=2])
agegroup_4_low

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

46

In [ ]:
agegroup_1_mild = len(df[(df.age<18)][(df.score>=3) & (df.score<=5)])
agegroup_1_high = len(df[(df.age<18)][(df.score>=6) & (df.score<=8)])
agegroup_1_severe = len(df[(df.age<18)][df.score>8])
agegroup_1_mild , agegroup_1_high , agegroup_1_severe

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

(65, 74, 15)

In [ ]:
print("first row : ",agegroup_1_low,agegroup_1_mild , agegroup_1_high , agegroup_1_severe)

first row :  84 65 74 15

### agegroup2 : 18-45

In [ ]:
agegroup_2_low = len(df[(df.age>=18) & (df.age<=45)][(df.score<=2)])
agegroup_2_mild = len(df[(df.age>=18) & (df.age<=45)][(df.score>=3) & (df.score<=5)])
agegroup_2_high = len(df[(df.age>=18) & (df.age<=45)][(df.score>=6) & (df.score<=8)])
agegroup_2_severe = len(df[(df.age>=18) & (df.age<=45)][df.score>8])
print(agegroup_2_low , agegroup_2_mild , agegroup_2_high , agegroup_2_severe)

127 127 115 35

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

## agegroup3 46-60

In [ ]:
agegroup_3_low = len(df[(df.age>=46) & (df.age<=60)][(df.score<=2)])
agegroup_3_mild = len(df[(df.age>=46) & (df.age<=60)][(df.score>=3) & (df.score<=5)])
agegroup_3_high = len(df[(df.age>=46) & (df.age<=60)][(df.score>=6) & (df.score<=8)])
agegroup_3_severe = len(df[(df.age>=46) & (df.age<=60)][df.score>8])
print(agegroup_3_low , agegroup_3_mild , agegroup_3_high , agegroup_3_severe)

66 57 55 21

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [ ]:
agegroup_4_low = len(df[(df.age>=61)][(df.score<=2)])
agegroup_4_mild = len(df[(df.age>=61)][(df.score>=3) & (df.score<=5)])
agegroup_4_high = len(df[(df.age>=61)][(df.score>=6) & (df.score<=8)])
agegroup_4_severe = len(df[(df.age>=61)][df.score>8])
print(agegroup_4_low , agegroup_4_mild , agegroup_4_high , agegroup_4_severe)

46 50 48 15

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

In [ ]:
print('_'*36)
print("1-17\t|" , agegroup_1_low ,'\t|', agegroup_1_mild ,'\t|', agegroup_1_high ,'\t|', agegroup_1_severe)
print("18-45\t|" , agegroup_2_low ,'\t|', agegroup_2_mild ,'\t|', agegroup_2_high ,'\t|', agegroup_2_severe)
print("46-60\t|" ,agegroup_3_low ,'\t|', agegroup_3_mild ,'\t|', agegroup_3_high ,'\t|' , agegroup_3_severe )
print("61+\t|" , agegroup_4_low ,'\t|', agegroup_4_mild ,'\t|', agegroup_4_high ,'\t|', agegroup_4_severe )
print('_'*36)

____________________________________
1-17	| 84 	| 65 	| 74 	| 15
18-45	| 127 	| 127 	| 115 	| 35
46-60	| 66 	| 57 	| 55 	| 21
61+	| 46 	| 50 	| 48 	| 15
____________________________________